.ds
{
	display:block;
	width:23%;
	margin:0 auto;
	border:3px solid grey;
}
input[type=text],input[type=password],input[type=number],input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
div tr td a
{
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size:20px;
}
table tr td 
{   display:block;
background-image:url('tile.png');
}
#as
{
	display:block;
	width:50%;
}
table
{
	width:200px;
	margin: 0 auto;
}
div h3{
	text-align:center;
	background:black;
	opacity:.8;
	border-radius: 5px 5px 0px 0px;
	font-size:2em;
	padding:2px;
	
}
div h3 a
{
	color:grey;
	
}
.ds
{
	background-image:url('catering-free-vector.jpg');
      opacity:.7;
	  background-size:100%;
	}
body
{
	background-image:url('https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size:cover;
}
div tr td:hover
{
	background:yellow;
}
a.fs:hover
{
	color:yellow;
	font-size:120%;
}